
QJoysticks-master/tests/Tests.pro
QJoysticks-master/tests/Test_QJoysticks.h
QJoysticks-master/tests/main.cpp
QJoysticks-master/src/QJoysticks/VirtualJoystick.h
QJoysticks-master/src/QJoysticks/VirtualJoystick.cpp
QJoysticks-master/src/QJoysticks/SDL_Joysticks.h
QJoysticks-master/src/QJoysticks/SDL_Joysticks.cpp
QJoysticks-master/src/QJoysticks/JoysticksCommon.h
QJoysticks-master/src/QJoysticks/Android_Joystick.h
QJoysticks-master/src/QJoysticks/Android_Joystick.cpp
QJoysticks-master/src/QJoysticks.h
QJoysticks-master/src/QJoysticks.cpp
QJoysticks-master/README.md
QJoysticks-master/QJoysticks.pro
QJoysticks-master/QJoysticks.pri
QJoysticks-master/LICENSE.md
QJoysticks-master/lib/SDL/SDL.pri
QJoysticks-master/lib/SDL/README.txt
QJoysticks-master/lib/SDL/README-SDL.txt
QJoysticks-master/lib/SDL/include/SDL_video.h
QJoysticks-master/lib/SDL/include/SDL_version.h
QJoysticks-master/lib/SDL/include/SDL_types.h
QJoysticks-master/lib/SDL/include/SDL_touch.h
QJoysticks-master/lib/SDL/include/SDL_timer.h
QJoysticks-master/lib/SDL/include/SDL_thread.h
QJoysticks-master/lib/SDL/include/SDL_test_random.h
QJoysticks-master/lib/SDL/include/SDL_test_md5.h
QJoysticks-master/lib/SDL/include/SDL_test_log.h
QJoysticks-master/lib/SDL/include/SDL_test_images.h
QJoysticks-master/lib/SDL/include/SDL_test_harness.h
QJoysticks-master/lib/SDL/include/SDL_test_fuzzer.h
QJoysticks-master/lib/SDL/include/SDL_test_font.h
QJoysticks-master/lib/SDL/include/SDL_test_crc32.h
QJoysticks-master/lib/SDL/include/SDL_test_compare.h
QJoysticks-master/lib/SDL/include/SDL_test_common.h
QJoysticks-master/lib/SDL/include/SDL_test_assert.h
QJoysticks-master/lib/SDL/include/SDL_test.h
QJoysticks-master/lib/SDL/include/SDL_syswm.h
QJoysticks-master/lib/SDL/include/SDL_system.h
QJoysticks-master/lib/SDL/include/SDL_surface.h
QJoysticks-master/lib/SDL/include/SDL_stdinc.h
QJoysticks-master/lib/SDL/include/SDL_shape.h
QJoysticks-master/lib/SDL/include/SDL_scancode.h
QJoysticks-master/lib/SDL/include/SDL_rwops.h
QJoysticks-master/lib/SDL/include/SDL_revision.h
QJoysticks-master/lib/SDL/include/SDL_render.h
QJoysticks-master/lib/SDL/include/SDL_rect.h
QJoysticks-master/lib/SDL/include/SDL_quit.h
QJoysticks-master/lib/SDL/include/SDL_power.h
QJoysticks-master/lib/SDL/include/SDL_platform.h
QJoysticks-master/lib/SDL/include/SDL_pixels.h
QJoysticks-master/lib/SDL/include/SDL_opengles2_khrplatform.h
QJoysticks-master/lib/SDL/include/SDL_opengles2_gl2platform.h
QJoysticks-master/lib/SDL/include/SDL_opengles2_gl2ext.h
QJoysticks-master/lib/SDL/include/SDL_opengles2_gl2.h
QJoysticks-master/lib/SDL/include/SDL_opengles2.h
QJoysticks-master/lib/SDL/include/SDL_opengles.h
QJoysticks-master/lib/SDL/include/SDL_opengl_glext.h
QJoysticks-master/lib/SDL/include/SDL_opengl.h
QJoysticks-master/lib/SDL/include/SDL_name.h
QJoysticks-master/lib/SDL/include/SDL_mutex.h
QJoysticks-master/lib/SDL/include/SDL_mouse.h
QJoysticks-master/lib/SDL/include/SDL_messagebox.h
QJoysticks-master/lib/SDL/include/SDL_main.h
QJoysticks-master/lib/SDL/include/SDL_log.h
QJoysticks-master/lib/SDL/include/SDL_loadso.h
QJoysticks-master/lib/SDL/include/SDL_keycode.h
QJoysticks-master/lib/SDL/include/SDL_keyboard.h
QJoysticks-master/lib/SDL/include/SDL_joystick.h
QJoysticks-master/lib/SDL/include/SDL_hints.h
QJoysticks-master/lib/SDL/include/SDL_haptic.h
QJoysticks-master/lib/SDL/include/SDL_gesture.h
QJoysticks-master/lib/SDL/include/SDL_gamecontroller.h
QJoysticks-master/lib/SDL/include/SDL_filesystem.h
QJoysticks-master/lib/SDL/include/SDL_events.h
QJoysticks-master/lib/SDL/include/SDL_error.h
QJoysticks-master/lib/SDL/include/SDL_endian.h
QJoysticks-master/lib/SDL/include/SDL_egl.h
QJoysticks-master/lib/SDL/include/SDL_cpuinfo.h
QJoysticks-master/lib/SDL/include/SDL_copying.h
QJoysticks-master/lib/SDL/include/SDL_config_wiz.h
QJoysticks-master/lib/SDL/include/SDL_config_winrt.h
QJoysticks-master/lib/SDL/include/SDL_config_windows.h
QJoysticks-master/lib/SDL/include/SDL_config_psp.h
QJoysticks-master/lib/SDL/include/SDL_config_pandora.h
QJoysticks-master/lib/SDL/include/SDL_config_minimal.h
QJoysticks-master/lib/SDL/include/SDL_config_macosx.h
QJoysticks-master/lib/SDL/include/SDL_config_iphoneos.h
QJoysticks-master/lib/SDL/include/SDL_config_android.h
QJoysticks-master/lib/SDL/include/SDL_config.h.in
QJoysticks-master/lib/SDL/include/SDL_config.h.cmake
QJoysticks-master/lib/SDL/include/SDL_config.h
QJoysticks-master/lib/SDL/include/SDL_clipboard.h
QJoysticks-master/lib/SDL/include/SDL_blendmode.h
QJoysticks-master/lib/SDL/include/SDL_bits.h
QJoysticks-master/lib/SDL/include/SDL_audio.h
QJoysticks-master/lib/SDL/include/SDL_atomic.h
QJoysticks-master/lib/SDL/include/SDL_assert.h
QJoysticks-master/lib/SDL/include/SDL.h
QJoysticks-master/lib/SDL/include/close_code.h
QJoysticks-master/lib/SDL/include/begin_code.h
QJoysticks-master/lib/SDL/bin/windows/msvc/x86/SDL2test.lib
QJoysticks-master/lib/SDL/bin/windows/msvc/x86/SDL2main.lib
QJoysticks-master/lib/SDL/bin/windows/msvc/x86/SDL2.lib
QJoysticks-master/lib/SDL/bin/windows/msvc/x86/SDL2.dll
QJoysticks-master/lib/SDL/bin/windows/msvc/x64/SDL2test.lib
QJoysticks-master/lib/SDL/bin/windows/msvc/x64/SDL2main.lib
QJoysticks-master/lib/SDL/bin/windows/msvc/x64/SDL2.lib
QJoysticks-master/lib/SDL/bin/windows/msvc/x64/SDL2.dll
QJoysticks-master/lib/SDL/bin/windows/mingw/SDL2.dll
QJoysticks-master/lib/SDL/bin/mac-osx/License.txt
QJoysticks-master/etc/scripts/format-code.sh
QJoysticks-master/etc/scripts/format-code.bat
QJoysticks-master/etc/resources/SDL/GenericMappings/Windows.txt
QJoysticks-master/etc/resources/SDL/GenericMappings/OSX.txt
QJoysticks-master/etc/resources/SDL/GenericMappings/Linux.txt
QJoysticks-master/etc/resources/SDL/Database.txt
QJoysticks-master/etc/resources/qjoysticks-res.qrc
QJoysticks-master/.gitattributes
